# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

